body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden {
  /* display: none; */
  position: absolute;

  clip: rect(0 0 0 0);
  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

.hidden-text {
  text-indent: 500%;
  white-space: nowrap;
  overflow: hidden;
}

.fixed-width-site {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
    box-shadow: 0 0 100px 25px #dedede;
}

a {
  text-decoration: none;
}

.main-header-image {
  background-image:  url("../img/greeting.png"), url("../img/greeting-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 132px, 50% 0px;
  position: relative;
  min-height: 564px;
}

.main-header-image::after {
  content: '';
  background-image: url("../img/substrate.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  height: 57px;
  width: 100%;
  bottom: 0;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-transform: uppercase;
  justify-content: center;
  width: 100%;
  position: relative;
  background-color: #ffffff;
  height: 56px;
  margin: 0;
  padding: 0;
}

.site-navigation-item {
  width: 25%;
  box-sizing: border-box;
}

.site-navigation-item-one {
  text-align: left;
  padding-left: 6%;
  padding-top: 14px;
}

.site-navigation-item-two {
  text-align: left;
  padding-left: 1%;
  padding-top: 14px;
}

.site-navigation-item-three {
  text-align: right;
  padding-right: 1.5%;
  padding-top: 14px;
}

.site-navigation-item-four {
  text-align: right;
  padding-right: 6%;
  padding-top: 14px;
}

.site-navigation-link {
  color: #000000;
  font-weight: 700;
  line-height: 26px;
}

.site-logo-link {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.about-sedona {
  margin: 0 auto;
  /* width: 100%; */
}

.about-sedona-text-block {
  background-color: #ffffff;
  width: 100%;
  height: 216px;
  margin-bottom: -14px;
}

.about-sedona-caption-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 37%;
  display: inline-block;
  margin-left: 31.5%;
  margin-top: 60px;
}

.advantages-sedona-text {
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 27px;
}

.about-sedona-with-image {
  display: flex;
  margin: 0 auto;
}

.blue-block {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  width: 33.4%;
  min-height: 256px;
  background-color: #81b3d2;
}

.blue-block-one {
  margin-left: 0;
}

.blue-block-two {
  margin-left: 66.6%;
}

.about-sedona-image-one {
  background-image: url("../img/description-1.jpg");
  background-repeat: no-repeat;
  background-size: 66.7%;
  background-position: right 54%;
}

.about-sedona-image-two {
  background-image: url("../img/description-2.jpg");
  background-repeat: no-repeat;
  background-size: 67%;
  background-position: left 53%;
  margin-top: 82px;
  margin-left: 0;
}

.about-sedona-caption-one {
  margin-top: 46px;
  width: 31.6%;
  text-align: center;
}

.sedona-text-number-one {
  padding: 8px;
  margin: 0;
}

.about-sedona-text-one {
  width: 70%;
  margin: 0;
  padding: 13px;
}

.about-sedona-caption-two {
  margin-top: 46px;
  width: 37.6%;
  text-align: center;
}

.sedona-text-number-two {
  padding: 7px;
  margin: 0;
}

.about-sedona-text-two {
  width: 76%;
  margin: 0;
  padding: 14px;
}

.housing-food-souvenirs-list {
  display: flex;
  margin-top: 60px;
  flex-wrap: wrap;
  padding: 0;
}

.about-sedona-advantages {
  flex-wrap: wrap;
  padding: 0;
}

.about-sedona-advantages-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  text-transform: uppercase;
  position: relative;
}

.about-sedona-advantages-housing,
.about-sedona-advantages-food,
.about-sedona-advantages-souvenirs {
  width: 33%;
}

.about-sedona-advantages-housing::before {
  content: url(../img/icon-housing.svg);
  position: absolute;
  top: 0;
  left: 41%;
}

.about-sedona-caption-housing {
  padding-top: 101px;
  padding-left: 42%;
  margin: 0;
  width: 0;
}

.about-sedona-text-housing {
  padding-top: 24px;
  padding-left: 18%;
  width: 64%;
  margin: 0;
}

.about-sedona-advantages-food::before {
  content: url(../img/icon-food.svg);
  position: absolute;
  top: 1px;
  left: 42.4%;
}

.about-sedona-caption-food {
  padding-top: 101px;
  padding-left: 47%;
  margin: 0;
  width: 0;
}

.about-sedona-text-food {
  padding-top: 24px;
  padding-left: 15%;
  width: 72%;
  margin: 0;
}

.about-sedona-advantages-souvenirs::before {
  content: url(../img/icon-souvenirs.svg);
  position: absolute;
  top: -4px;
  left: 44.5%;
}

.about-sedona-caption-souvenirs {
  padding-top: 101px;
  padding-left: 40%;
  margin: 0;
  width: 0;
}

.about-sedona-text-souvenirs {
  padding-top: 24px;
  padding-left: 17%;
  width: 72%;
  margin: 0;
}

.about-sedona-advantages-part {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: #eeeeee;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 44px;
}

.about-sedona-advantages-item-three,
.about-sedona-advantages-item-four,
.about-sedona-advantages-item-five {
  width: 33%;
}

.about-sedona-caption-three {
  margin-left: 31.5%;
  width: 37.6%;
  text-align: center;
}

.sedona-text-number-three {
  padding: 6px;
  padding-left: 2%;
  margin: 0;
}

.about-sedona-text-three {
  width: 53%;
  margin: 0;
  padding: 15px;
  padding-left: 24%;
}

.about-sedona-caption-four {
  margin-left: 33.5%;
  width: 36%;
  text-align: center;
}

.sedona-text-number-four {
  padding: 6px;
  padding-left: 5%;
  margin: 0;
}

.about-sedona-text-four {
  width: 67%;
  margin: 0;
  padding: 15px;
  padding-left: 18%;
}

.about-sedona-caption-five {
  margin-left: 34.5%;
  width: 36%;
  text-align: center;
}

.sedona-text-number-five {
  padding: 6px;
  padding-left: 7%;
  margin: 0;
}

.about-sedona-text-five {
  width: 65%;
  margin: 0;
  padding: 15px;
  padding-left: 20%;
}

.hotel-search-sedona {
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  text-align: center;
}

.search-caption {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
}

.search-text {
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 47px;
}

.hotel-search {
    width: 47.3%;
    min-height: 86px;
    background-color: #766357;
    display: inline-block;
    box-sizing: border-box;
}

.hotel-search-text {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  width: 70%;
  padding-left: 15%;
  padding-top: 30px;
}

.search-form {
  width: 568px;
  min-height: 395px;
  background-color: #ffffff;
  margin: 0 auto;
  position: absolute;
  left: 26.4%;
  display: none;
}

.search-form-show {
  display: block;
}

.arrival-departure-date-name,
.grown-people-numbers,
.children-people-numbers {
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.arrival-date-name {
  padding-right: 18px;
}

.departure-date-name {
  padding-right: 15px;
}

.arrival-departure-date {
  text-align: left;
  padding-left: 55px;
}

.arrival-departure-form-one {
  margin-left: 20px;
}

.arrival-departure-form-two {
  margin-left: 16px;
}

.grown-people-numbers,
.children-people-numbers {
  font-size: 0;
  display: flex;
}

.form-text {
  font-size: 14px;
  margin: 0;
  padding-top: 6px;
}

.form-text-grown {
  padding-right: 41px;
}

.form-text-children {
  padding-right: 27px;
}

.arrival-departure-form-one,
.arrival-departure-form-two,
.number-visitors {
  border: none;
  background-color: #f2f2f2;
}

.arrival-departure-form-one,
.arrival-departure-form-two {
  width: 345px;
  height: 38px;
  position: relative;
}

.number-visitors {
  width: 38px;
  height: 38px;
  font-size: 14px;
  padding: 0;
}

.calendar-one {
  position: absolute;
  top: 63px;
  right: 64px;
  fill: #a9a9a9;
}

.calendar-two {
  position: absolute;
  top: 130px;
  right: 64px;
  fill: #a9a9a9;
}

.arrival-departure-form-one:hover,
.arrival-departure-form-two:hover {
  background-color: #ebebeb;
}

.arrival-departure-form-one:hover + .calendar-one,
.arrival-departure-form-two:hover + .calendar-two {
  fill: #000000;
}

.arrival-departure-form-one:focus,
.arrival-departure-form-two:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}


.arrival-departure-form-one:focus + .calendar-one,
.arrival-departure-form-two:focus + .calendar-two{
  fill: #84b2d3;
}

.arrival-departure-one {
  padding-top: 55px;
}

.arrival-departure-two {
  padding-top: 29px;
}

.people-numbers {
  display: flex;
  padding-top: 30px;
  padding-left: 54px;
}

.btn-minus,
.btn-plus {
  border: none;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  display: inline-block;
  padding: 0;
  position: relative;
}

.btn-plus {
  margin-right: 53px;
}

.btn-plus::before {
width: 12px;
height: 3px;
background: #a9a9a9;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
content: '';
}

.btn-plus::after {
width: 12px;
height: 3px;
background: #a9a9a9;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) rotate(90deg);
content: '';
}

.btn-minus::before {
  width: 12px;
  height: 3px;
  background: #a9a9a9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
}

.btn-plus:hover::before,
.btn-plus:hover::after,
.btn-minus:hover::before {
  background: #000000;
}

.btn-plus:active::before,
.btn-plus:active::after,
.btn-minus:active::before {
  background: #84b2d3;
}

.to-find-button {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  width: 458px;
  min-height: 58px;
  background-color: #81b3d2;
  display: inline-block;
  padding-top: 17px;
  box-sizing: border-box;
  margin-top: 54px;
}

.to-find-button:hover {
  background-color: #669ebf;
}

.to-find-button:active {
  background-color: #5596be;
  color: #96b8d1;
}

.map-sedona-image {
  width: 100%;
  min-height: 587px;
  position: relative;
  z-index: -1;
}

.footer-block {
  display: flex;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  min-height: 120px;
  justify-content: space-between;
}

.footer-block-index {
  margin-top: -120px;
}

.tag-search-internet-text {
  margin-left: 11%;
}

.tag-search-text {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  margin-top: 46px;
}

.social-button {
  margin-right: 0%;
  margin-left: 2.3%;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 36px;
}

.social-link-twitter,
.social-link-fb,
.social-link-youtube {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-left: 6px;
  position: relative;
  display: inline-block;
}

.social-link-twitter:hover,
.social-link-fb:hover,
.social-link-youtube:hover {
  background-color: #669ebf;
}

.social-link-twitter:active,
.social-link-fb:active,
.social-link-youtube:active {
  background-color: #5596be;
}

.social-link-twitter:active + .social-twitter,
.social-link-fb:active + .social-fb,
.social-link-youtube:active + .social-youtb {
  fill: #96b8d1;
}

.social-link-twitter {
  margin-left: 0;
}

.social-twitter {
  position: absolute;
  left: 15px;
  top: 17px;
  fill: #ffffff;
}

.social-fb {
  position: absolute;
  left: 17px;
  top: 13px;
  fill: #ffffff;
}

.social-youtb {
  position: absolute;
  left: 13px;
  top: 16px;
  fill: #ffffff;
}

.social-twitter:active,
.social-fb:active,
.social-youtb:active {
  fill: #88b5d2;
}
/* .social-link-twitter::before {
  content: '';
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
  width: 17px;
  height: 15px;
  position: absolute;
  left: 15px;
  top: 17px;
}

.social-link-fb::before {
  content: '';
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 22px;
  position: absolute;
  left: 17px;
  top: 13px;
}

.social-link-youtube::before {
  content: '';
  background-image: url("../img/icon-youtb.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 16px;
  position: absolute;
  left: 13px;
  top: 16px;
} */

.developer-site {
  margin-top: 39px;
  margin-right: 8.4%;
  display: flex;
  width: 16.3%;
}

.developer-site-link {
  color: #000000;
  text-transform: uppercase;
  display: flex;
}

.developer-text {
  padding-right: 3%;
  width: 39%;
  margin: 0;
  margin-top: 11px;
}

.developer-logo {
  fill: #000000;
}

.developer-logo:hover {
  fill: #82b3d1;
}

.developer-logo:active {
  fill: #bdbbbc;
}

.filter-block {
  background-image:  url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 217px;
}

.infrastructure-housing-price {
  display: flex;
}

.infrastructure-hostels,
.type-housing,
.cost-per-day-range {
  display: flex;
  flex-direction: column;
}

.caption-section {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  padding-top: 26px;
}

.label-text,
.min-price,
.max-price,
.form-price,
.btn-transparent {
  color: #ffffff;
  text-transform: uppercase;
}

.infrastructure-hostels {
  padding-left: 6%;
}

.type-housing {
  padding-left: 10%;
}

.cost-per-day-range {
  padding-left: 29.6%;
}

.checkbox-container {
  position: relative;
}

.checkbox-container-infrastructure {
  padding-top: 25px;
  padding-left: 17%;
}

.checkbox-container-type-housing {
  padding-top: 25px;
  padding-left: 19%;
}

.label-text {
  padding-left: 15%;
}

.label-text::before {
  content: url("../img/checkbox-off.svg");
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  padding-top: 25px;
}

.checkbox-input:checked + .label-text::before {
  content: url("../img/checkbox-on.svg");
  width: 27px;
  height: 23px;
}

.checkbox-input:focus + .label-text {
  outline: 2px solid #81b3d2;
}

.checkbox-input:disabled + .label-text::before {
  opacity: 0.2;
}

.form-price {
  background: transparent;
  border: none;
}

.form-price-one {
  width: 17%;
}

.form-price-two {
  width: 23%;
}

.price-controls {
  border: 2px solid #ffffff;
  border-radius: 3px;
  width: 82%;
  min-height: 36px;
  margin-top: 11px;
  padding-top: 6px;
  box-sizing: border-box;
  position: relative;
}

.price-controls::before {
  content: url("../img/line.png");
  position: absolute;
  left: 157px;
  top: 5px;
}
.min-price {
  margin-left: 21%;
}

.max-price {
  margin-left: 21%;
}

.range-controls {
	position: relative;
  display: block;
  width: 81.5%;
	overflow: hidden;
  border-radius: 3px;
}

.scale {
	height: 2px;
  margin-top: 20px;
  margin-bottom: 32px;
	background: #918382;
}

.bar {
	width: 85%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: 11px;
	width: 4px;
	height: 4px;
	border: 8px solid #fff;
	background: #ababab;
	border-radius: 50%;
	cursor: pointer;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 79.6%;
}

.btn-transparent {
  background: transparent;
  border: none;
  border: 2px solid #ffffff;
  border-radius: 3px;
  width: 35%;
  min-height: 36px;
  padding-top: 1px;
  text-align: center;
  margin-left: 22%;
}

.result-sorting,
.sorting-block,
.sorting-list {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

.result-sorting {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 29px;
}

.search-results {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding-left: 6%;
  padding-top: 30px;
  margin: 0;
}

.sorting-block {
  flex-grow: 1;
}

.sorting-caption,
.sorting-list,
.sorting-item-link {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

.sorting-caption {
  font-weight: 400;
  padding-top: 36px;
  padding-left: 4.7%;
  width: 76px;
}

.sorting-list {
  padding: 0;
  width: 100%;
  flex-wrap: wrap;
}

.sorting-price {
  margin-left: 4.5%;
}

.sorting-type {
  margin-left: 3.5%;
  border-bottom: dotted;
  color: #a8c9de;
}

.sorting-type:active,
.sorting-rating:active {
  border-bottom: none;
}

.sorting-rating {
  margin-left: 4%;
  border-bottom: dotted;
  color: #a8c9de;
}

.sorting-arrow-top {
  margin-left: 56.5%;
}

.sorting-arrow-bottom {
  margin-left: 1.5%;
}

.sorting-item {
  padding-top: 36px;
}

.sorting-item-link {
  color: #e0e0e0;
}

.sorting-item-link-current {
  color: #81b3d2;
}

.hotels-found {
  margin-top: 25px;
}

.photo-housing-one,
.photo-housing-two,
.photo-housing-three {
  padding-top: 5px;
}

.hotels-found-one,
.hotels-found-two,
.hotels-found-three {
  display: flex;
  padding-left: 6%;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 25px;
  padding-bottom: 16px;
}

.about-housing {
  margin-left: 2.7%;
}

.name-housing {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  width: 100%;
  color: #000000;
}

.name-housing:hover {
  color: #a7cade;
}

.name-housing:active {
  color: #cacaca;
}

.type-price {
  display: flex;
  text-transform: uppercase;
  padding-top: 7px;
}

.type-housing-text-one {
  margin-right: 15%;
}

.more-info-book-it {
  padding-top: 14px;
}

.more-info-button {
  background-color: #81b3d2;
  width: 110px;
  height: 27px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  padding-top: 3px;
  box-sizing: border-box;
}

.book-it-button {
  background-color: #766357;
  width: 142px;
  height: 27px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  padding-top: 3px;
  box-sizing: border-box;
  margin-left: 2px;
}

.rating-housing {
  margin-left: auto;
  width: 16%;
}

.rating-housing-one {

  margin-top: 4px;
}

.rating-housing-two {
 margin-top: 4px;
}

.rating-housing-three {
 margin-top: 4px;
}

.stars-rating-one {
  padding-left: 10%;
}

.stars-rating-two {
  padding-left: 24%;
}

.stars-rating-three {
  padding-left: 39%;
}

.rating-score-text {
  text-transform: uppercase;
  width: 110px;
  min-height: 27px;
  background-color: #f2f2f2;
  text-align: center;
  padding: 0;
  padding-top: 3px;
  box-sizing: border-box;
  margin-top: 41px;
  margin-right: 8%;
}

.type-housing-text-two {
  margin-right: 25%;
}

.type-housing-text-three {
  margin-right: 8%;
}

.rating-housing-three {
  margin-right: 0.2%;
  margin-top: 4px;
}

.site-navigation-link:hover {
  color: #85b3d4;
}

.site-navigation-link:active {
  color: #cacaca;
}

.site-navigation-link-current {
  color: #766355;
}

.btn-transparent:hover {
  background-color: #ffffff;
  color: #000000;
}

.sorting-item-link:hover {
  color: #81b2d2;
}

.sorting-item-link:active {
  color: #000000;
}

.more-info-button:hover {
  background-color: #669ebf;
}

.more-info-button:active {
  background-color: #5596be;
  color: #95b8d4;
}

.book-it-button:hover {
  background-color: #604e44;
}

.book-it-button:active {
  background-color: #503e32;
  color: #908782;
}

.hotel-search:hover {
  background-color: #604e44;
}

.hotel-search:active {
  background-color: #503e32;
}

.hotel-search-text:active {
  color: #938c86;
}
