body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden {
  display: none;
  position: absolute;

  clip: rect(0 0 0 0);
  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

.hidden-text {
  text-indent: 500%;
  white-space: nowrap;
  overflow: hidden;
}

.fixed-width-site {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.main-header-image {
  background-image:  url("../img/greeting.png"), url("../img/greeting-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 132px, 50% 0px;
  position: relative;
  min-height: 564px;
}

.main-header-image::after {
  content: '';
  background-image: url("../img/substrate.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  height: 57px;
  width: 100%;
  bottom: 0;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-transform: uppercase;
  justify-content: center;
  width: 100%;
  position: relative;
  background-color: #ffffff;
  height: 56px;
  margin: 0;
  padding: 0;
}

.site-navigation-item {
  width: 25%;
  box-sizing: border-box;
}

.site-navigation-item-one {
  text-align: left;
  padding-left: 6%;
  padding-top: 14px;
}

.site-navigation-item-two {
  text-align: left;
  padding-left: 1%;
  padding-top: 14px;
}

.site-navigation-item-three {
  text-align: right;
  padding-right: 1.5%;
  padding-top: 14px;
}

.site-navigation-item-four {
  text-align: right;
  padding-right: 6%;
  padding-top: 14px;
}

.site-navigation-link {
  color: #000000;
  font-weight: 700;
  line-height: 26px;
}

.site-logo-link {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.about-sedona {
  margin: 0 auto;
  /* width: 100%; */
}

.about-sedona-text-block {
  background-color: #ffffff;
  width: 100%;
  height: 216px;
  margin-bottom: -14px;
}

.about-sedona-caption-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 37%;
  display: inline-block;
  margin-left: 31.5%;
  margin-top: 60px;
}

.advantages-sedona-text {
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 27px;
}

.about-sedona-with-image {
  display: flex;
  margin: 0 auto;
}

.blue-block {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  width: 33.4%;
  min-height: 256px;
  background-color: #81b3d2;
}

.blue-block-one {
  margin-left: 0;
}

.blue-block-two {
  margin-left: 66.6%;
}

.about-sedona-image-one {
  background-image: url("../img/description-1.jpg");
  background-repeat: no-repeat;
  background-size: 66.7%;
  background-position: right 54%;
}

.about-sedona-image-two {
  background-image: url("../img/description-2.jpg");
  background-repeat: no-repeat;
  background-size: 67%;
  background-position: left 53%;
  margin-top: 82px;
  margin-left: 0;
}

.about-sedona-caption-one {
  margin-top: 46px;
  width: 31.6%;
  text-align: center;
}

.sedona-text-number-one {
  padding: 8px;
  margin: 0;
}

.about-sedona-text-one {
  width: 70%;
  margin: 0;
  padding: 13px;
}

.about-sedona-caption-two {
  margin-top: 46px;
  width: 37.6%;
  text-align: center;
}

.sedona-text-number-two {
  padding: 7px;
  margin: 0;
}

.about-sedona-text-two {
  width: 76%;
  margin: 0;
  padding: 14px;
}

.housing-food-souvenirs-list {
  display: flex;
  margin-top: 60px;
  flex-wrap: wrap;
  padding: 0;
}

.about-sedona-advantages {
  flex-wrap: wrap;
  padding: 0;
}

.about-sedona-advantages-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  text-transform: uppercase;
  position: relative;
}

.about-sedona-advantages-housing,
.about-sedona-advantages-food,
.about-sedona-advantages-souvenirs {
  width: 33%;
}

.about-sedona-advantages-housing::before {
  content: url(../img/icon-housing.svg);
  position: absolute;
  top: 0;
  left: 41%;
}

.about-sedona-caption-housing {
  padding-top: 101px;
  padding-left: 42%;
  margin: 0;
  width: 0;
}

.about-sedona-text-housing {
  padding-top: 24px;
  padding-left: 18%;
  width: 64%;
  margin: 0;
}

.about-sedona-advantages-food::before {
  content: url(../img/icon-food.svg);
  position: absolute;
  top: 1px;
  left: 42.4%;
}

.about-sedona-caption-food {
  padding-top: 101px;
  padding-left: 47%;
  margin: 0;
  width: 0;
}

.about-sedona-text-food {
  padding-top: 24px;
  padding-left: 15%;
  width: 72%;
  margin: 0;
}

.about-sedona-advantages-souvenirs::before {
  content: url(../img/icon-souvenirs.svg);
  position: absolute;
  top: -4px;
  left: 44.5%;
}

.about-sedona-caption-souvenirs {
  padding-top: 101px;
  padding-left: 40%;
  margin: 0;
  width: 0;
}

.about-sedona-text-souvenirs {
  padding-top: 24px;
  padding-left: 17%;
  width: 72%;
  margin: 0;
}

.about-sedona-advantages-part {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: #eeeeee;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 44px;
}

.about-sedona-advantages-item-three,
.about-sedona-advantages-item-four,
.about-sedona-advantages-item-five {
  width: 33%;
}

.about-sedona-caption-three {
  margin-left: 31.5%;
  width: 37.6%;
  text-align: center;
}

.sedona-text-number-three {
  padding: 6px;
  padding-left: 2%;
  margin: 0;
}

.about-sedona-text-three {
  width: 53%;
  margin: 0;
  padding: 15px;
  padding-left: 24%;
}

.about-sedona-caption-four {
  margin-left: 33.5%;
  width: 36%;
  text-align: center;
}

.sedona-text-number-four {
  padding: 6px;
  padding-left: 5%;
  margin: 0;
}

.about-sedona-text-four {
  width: 67%;
  margin: 0;
  padding: 15px;
  padding-left: 18%;
}

.about-sedona-caption-five {
  margin-left: 34.5%;
  width: 36%;
  text-align: center;
}

.sedona-text-number-five {
  padding: 6px;
  padding-left: 7%;
  margin: 0;
}

.about-sedona-text-five {
  width: 65%;
  margin: 0;
  padding: 15px;
  padding-left: 20%;
}

.hotel-search-sedona {
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  text-align: center;
}

.search-caption {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
}

.search-text {
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 47px;
}

.hotel-search {
    width: 47.3%;
    min-height: 86px;
    background-color: #766357;
    display: inline-block;
    box-sizing: border-box;
}

.hotel-search-text {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  width: 70%;
  padding-left: 15%;
  padding-top: 30px;
}

.search-form {
  width: 47.4%;
  min-height: 395px;
  background-color: #ffffff;
  margin: 0 auto;
  position: absolute;
  left: 26.4%;
}

.arrival-departure-date-name,
.grown-people-numbers,
.children-people-numbers {
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.arrival-date-name {
  padding-right: 18px;
}

.departure-date-name {
  padding-right: 15px;
}

.arrival-departure-date {
  text-align: left;
  padding-left: 10%;
}

.grown-people-numbers,
.children-people-numbers {
  font-size: 0;
  display: flex;
}

.form-text {
  font-size: 14px;
  margin: 0;
  padding-top: 6px;
}

.form-text-grown {
  padding-right: 41px;
}

.form-text-children {
  padding-right: 27px;
}

.arrival-departure-date-form,
.number-visitors {
  border: none;
  background-color: #f2f2f2;
}

.arrival-departure-date-form {
  width: 346px;
  height: 38px;
}

.number-visitors {
  width: 38px;
  height: 38px;
  font-size: 14px;
  padding: 0;
}

.arrival-departure-date-form::after {
  content: url("../img/calendar.svg");
}

.arrival-departure-one {
  padding-top: 55px;
}

.arrival-departure-two {
  padding-top: 29px;
}

.people-numbers {
  display: flex;
  padding-top: 30px;
  padding-left: 54px;
}

.btn-minus,
.btn-plus {
  border: none;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;
  display: inline-block;
  padding: 0;
}

.btn-plus {
  margin-right: 53px;
}

.btn-minus::before {
  content: '';
  background-image: url("../img/minus.png");
  background-repeat: no-repeat;
  width: 12px;
  height: 3px;
  display: inline-block;
}

.btn-plus::before {
  content: url("../img/plus.png");
}

.to-find-button {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  width: 80.5%;
  min-height: 58px;
  background-color: #81b3d2;
  display: inline-block;
  padding-top: 17px;
  box-sizing: border-box;
  margin-top: 54px;
}

.map-sedona-image {
  width: 100%;
  min-height: 592px;
  position: relative;
  z-index: -1;
}

.footer-block {
  display: flex;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  min-height: 120px;
}

.footer-block-index {
  margin-top: -125px;
}

.tag-search-text {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding-top: 46px;
  padding-left: 49.5%;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding-top: 36px;
  padding-left: 63%;
}

.social-link-twitter,
.social-link-fb,
.social-link-youtube {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-left: 6px;
  position: relative;
  display: inline-block;
}

.social-link-twitter {
  margin-left: 0;
}

.social-link-twitter::before {
  content: '';
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
  width: 17px;
  height: 15px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.social-link-fb::before {
  content: '';
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 22px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.social-link-youtube::before {
  content: '';
  background-image: url("../img/icon-youtb.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 16px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.developer-site-link {
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  display: flex;
}

.developer-site-link::after {
  content: '';
  background-image: url(../img/html-a.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  width: 115px;
  height: 41px;
}

.filter-block {
  background-image:  url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 217px;
}

.infrastructure-housing-price {
  display: flex;
}

.infrastructure-hostels,
.type-housing,
.cost-per-day-range {
  display: flex;
  flex-direction: column;
}

.caption-section {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  padding-top: 26px;
}

.label-text,
.min-price,
.max-price,
.form-price,
.btn-transparent {
  color: #ffffff;
  text-transform: uppercase;
}

.infrastructure-hostels {
  padding-left: 6%;
}

.type-housing {
  padding-left: 10%;
}

.cost-per-day-range {
  padding-left: 30%;
}

.checkbox-container {
  position: relative;
}

.checkbox-container-infrastructure {
  padding-top: 25px;
  padding-left: 17%;
}

.checkbox-container-type-housing {
  padding-top: 25px;
  padding-left: 17%;
}

.label-text {
  padding-left: 15%;
}

.label-text::before {
  content: url("../img/checkbox-off.svg");
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  padding-top: 25px;
}

.checkbox-input:checked + .label-text::before {
  content: url("../img/checkbox-on.svg");
  width: 27px;
  height: 23px;
}

.form-price {
  background: transparent;
  border: none;
}

.price-controls {
  border-bottom: 2px solid #ffffff;
  border-radius: 3px;
  width: 90%;
  min-height: 32px;
  padding-top: 10px;
  text-align: center;
}

.range-controls {
	position: relative;
  display: block;
  width: 89.5%;
	overflow: hidden;
  border-radius: 3px;
}

.scale {
	height: 2px;
  margin-top: 23px;
  margin-bottom: 33px;
	background: #918382;
}

.bar {
	width: 85%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: 14px;
	width: 4px;
	height: 4px;
	border: 8px solid #fff;
	background: #ababab;
	border-radius: 50%;
	cursor: pointer;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 79%;
}

.btn-transparent {
  background: transparent;
  border: none;
  border-bottom: 2px solid #ffffff;
  border-radius: 3px;
  width: 39%;
  min-height: 32px;
  padding-top: 10px;
  text-align: center;
  margin-left: 24%;
}

.result-sorting,
.sorting-block,
.sorting-list {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

.search-results {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding-left: 6%;
  padding-top: 30px;
  margin: 0;
}

.sorting-caption,
.sorting-list,
.sorting-item-link {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

.sorting-caption {
  font-weight: 400;
  padding-top: 36px;
  padding-left: 5%;
}

.sorting-item {
  padding-top: 36px;
}

.sorting-type {
  padding-left: 4%;
}

.sorting-item-link {
  color: #e0e0e0;
  text-decoration-style: dashed;
}

.sorting-item-link-current {
  color: #81b3d2;
}

.hotels-found-one,
.hotels-found-two,
.hotels-found-three {
  display: flex;
  margin-left: 6%;
}

.about-housing {
  margin-left: 3%;
}

.name-housing {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  width: 100%;
}

.type-price {
  display: flex;
  text-transform: uppercase;
}

.type-housing-text-one {
  margin-right: 16%;
}

.more-info-button {
  background-color: #81b3d2;
  width: 110px;
  height: 27px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

.book-it-button {
  background-color: #766357;
  width: 142px;
  height: 27px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

.rating-housing {

}
